* {
    font-family: 'Lucida Console', monospace;
    color: rgb(26, 24, 6);
    
}
body {
    background-color: #447700;
}
input[type="button"] {
    width: 50px;
    padding: 10px;
    margin: 3px;
    background-color: bisque;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
}

input[type="text"] {
    width: 255px;
    margin: 10px 3px 15 3px;
    padding: 5px 5px 45px 5px;
    box-sizing: border-box;
    background-color: rgb(75, 197, 181);
    color: #000000;
    font-weight: bold;
    border: rgb(3, 6, 8);
    font-size: 30px;
}


form#Calculator {
    width: 255px;
	height: 260px;
	margin: 0 auto;
	margin-top: 100px;
	-moz-box-shadow: 0 0 8px #000;
	-webkit-box-shadow: 0 0 8px #000;
	box-shadow: 0 0 8px #000;
	background-color:#B9B9B9;
    
}